html
{
    font-family: Arial, Helvetica, sans-serif;
}

fieldset#playerName
{
    width: 325px;
}

fieldset#charInfo
{
    width: 325px;
    margin-top: 2%;  
}

fieldset#charInfo > label
{
    border: 1px solid blue;
    margin: 3%;
}


fieldset#charInfo > input
{
} 

fieldset#abilScores
{
    width: 200px;
    margin-top:2%;
}

fieldset#abilScores > label
{
    clear: left;
    display: inline-block;
    float: left;
    text-align: left;
    width: 30%;
    margin: 3%;
}

fieldset#abilScores > input 
{
  border: 1px solid blue;
  display: inline-block;
  float: right;
  margin: 2.5%;
}






