html
{
    font-family: Arial, Helvetica, sans-serif;
}

fieldset#playerNameFS
{
    width: 170px
}

span
{
    color: rgb(121, 121, 121);
    float: right;
    font-size: 14px;
    font-style: italic;
    margin-right: 2%;
    margin-top: 2%;
    text-align: right;
}

span#nameSpan
{
    margin-top: 0%;
}

span#lawSpan
{
    margin-top: -15px; 
}

span#alignSpan
{
    margin-top: -10px;
}

fieldset#charInfo
{
    width: 320px;
    margin-top: 2%;  
}

fieldset#charInfo > label
{
    display: inline-block;
    margin: 2%;     
    text-align: left;
}

fieldset#abilScores
{
    width: 200px;
    margin-top:2%;
}

fieldset#abilScores > label
{
    clear: left;
    display: inline-block;
    float: left;
    margin: 3%;
    text-align: left;
    width: 30%;
}

fieldset#abilScores > input 
{
  display: inline-block;
  float: right;
  margin: 2.5%;
}






