html
{
    font-family: Arial, Helvetica, sans-serif;
}

fieldset#playerNameFS
{
    width: 325px;
}

fieldset#charInfo
{
    width: 325px;
    margin-top: 2%;  
}

fieldset#charInfo > label
{
    clear: left;
    display: inline-block;
    margin: 2%;     
    text-align: left;
}

fieldset#abilScores
{
    width: 200px;
    margin-top:2%;
}

fieldset#abilScores > label
{
    clear: left;
    display: inline-block;
    float: left;
    margin: 3%;
    text-align: left;
    width: 30%;
}

fieldset#abilScores > input 
{
  display: inline-block;
  float: right;
  margin: 2.5%;
}






